---
layout: default
home: false
---
<div class="author">
    <h2 class="author-emoji">{{ page.emoji }}</h2>
  <h2 class="author-name">{{ page.page_title }}</h2>
  <p class="author-bio">{{ page.page_description }}</p>
</div>

<h4 class="posts-item-note">Posts</h4>
{% for post in site.posts %}
    {% assign tags = post.tags %}
    {% for tag in tags %}
        {% if tag == page.tag %}
            <article class="post-item">
                <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
                <h4 class="post-item-title">
                    <a href="{{ post.url }}">{{ post.title | escape }}</a>
                </h4>
            </article>
        {% endif %}
    {% endfor %}
{% endfor %}